body {
    font-family: Arial, sans-serif;
}

.modelos {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FF3131;
    color: #fff;
}

.lanche-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.lanche-item img {
    max-width: 100px;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.area-carrinho {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    background: #fff;
    border-left: 1px solid #ccc;
    padding: 20px;
    display: none;
    animation: aparecer 0.5s;
}

.menu-aberto {
    cursor: pointer;
    font-size: 2rem;
}

.menu-fechar{
    cursor: pointer;
}

.carrinho {
    margin-top: 20px;
}

.total-carrinho {
    margin-top: 20px;
    font-weight: bold;
}

.finalizar-compra {
    margin-top: 20px;
    padding: 10px;
    background: #28a745;
    color: white;
    text-align: center;
    cursor: pointer;
}
