@import url('https://fonts.cdnfonts.com/css/biko');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Biko", sans-serif;
}

a{
    text-decoration: none;
}

body{
    height: 100%;
    background-image: linear-gradient(to right, #000, #a20908);
    transition: 0.5s ease-in-out;
    opacity: 0;
}

body.loaded {
    opacity: 2;
}

.container{
    max-width: 1500px;
    max-height: 720px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: #fff;
    width: 100%;
    padding: 20px 4%;
    position: relative;
    z-index: 1;
    height: 125px;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 20px #000;
    transition: 500ms ease-in-out;
}

#header.scroll{
    position: fixed;
    height: 100px;
    background-color: #a20908;
}

#header.scroll .list-menu1 a{
    color: #fff;
}

#header.scroll .list-menu1 button{
    color: #fff;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 80px;
}

header .list-menu1 a, #btn-cardapio{
    color: #a20908;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 500ms ease-in-out   ;
}

header .list-menu1 a:hover, #btn-cardapio:hover{
    color: red;
}

#btn-cardapio{
    background: none;
    border: none;
    cursor: pointer;
}
.submenu{
    border: solid yellow 2px;
    flex-direction: column;
    background:none;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    color: #fff; 
    z-index: 1;
    animation: aparecer 0.5s;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.submenu button{
    font-size: 1.5rem;
    background-color: #a20908;
    color: #fff;
    width: 25vh;
    height: 10vh;
    align-items: center;
    justify-content: center;   
    transition: 0.3s ease-in-out; 
}

hr{
    height: 3px;
    border: solid 2px yellow;
}

.submenu button:hover{
    transform: translateY(-3px);
    background-color: #d62b2b;
    cursor: pointer;
}

.submenu button:active{
    transform: translateY(2px);
    background-color: #ff1c1c;
}

#barralateral {
    margin-top: 20px;
    height: 100%;
    width: 200px;
    position: fixed;
    left: -200px;
    background-color: #fff;
    transition: left 0.3s ease-in-out; 
    z-index: 1;
}

#barralateral a{
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    display: block;
    transition: background-color 0.3s;
}

#barralateral a:hover{
    background-color: #a20908;
    color: #fff;
}

#barralateral.scroll{
    background-color: #a20908;
}

#barralateral.scroll a{
    color: #fff;
}

#barralateral.scroll a:hover{
    background-color: #fff;
    color: #a20908;
}

.btn-ativação{
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
    font-size: 18px;
}

.btn-ativação.active {
    background-color: #a20908;
    border-radius: 10px; 
}

#btn-ativação.scroll{
    border: solid #fff 3px;
}

.btn-conta button{
    font-size: 1.7rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #a20908;
    padding: 5px;
    border-radius: 10px;
    transition: 500ms;
}   

.btn-conta button:hover{
    background-color: #FF3131;
    transform: scale(1.2);
}

.btn-conta a{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    line-height: 40px;
}

#btn-conta.scroll{
    background-color: #fff;
    color: #a20908;
}

#btn-conta.scroll:hover{
    background-color: #a20908;
    color: #fff;
    border: solid #fff 2px;
} 

main{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 5%;
    margin-bottom: 3.5%;
}

.text{
    background-color: #7c1210;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.05mm;
    padding-left: 5%;
    padding-right: 5%;
    padding: 5%;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgb(251, 255, 0));
  }
  
  .logo2{
      width: 523px;
      height: auto;
      filter: drop-shadow(0px 4px 4px rgb(251, 255, 0));
  }

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .footer-links {
    margin-bottom: 20px;
}

.footer-container .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

.footer-container .footer-links a:hover {
    text-decoration: underline;
}

.footer-container .footer-bottom {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    header ul li a{
        font-size: 1.2rem;
    }
    .btn-conta button{
        font-size: 1rem;
    }
}

@media screen and (max-width: 666px){
    header ul li a{
        font-size: 1.2rem;
    }
    header ul li{
        padding: 0;
    }
    .btn-conta button{
        font-size: 0.7rem;
    }
}

@media (max-width: 508px) {
    header ul li a{
        font-size: 1rem;
    }
}
@media (max-width: 478px) {
    header{
        text-align: center;
        font-size: 0.7rem;
    }
}
@media (max-width: 526px) {
    header{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    header{
        font-size: 0.7rem;
    }
}
